{% if results.hasPages %}
    <div class="text-center" style="clear:both">
        <ul class="pagination">
            {% if results.currentPage > 1 %}
                <li class="previous"><a href="{{ results.previousPageUrl }}">&larr;&nbsp;Prev</a></li>
            {% endif %}

            {% for page in 1..results.lastPage %}
                <li class="{{ results.currentPage == page ? 'active' : null }}">
                    <a href="/sitesearch?q={{ searchResults.query|e('url') }}&page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if results.lastPage > results.currentPage %}
                <li class="next"><a href="{{ results.nextPageUrl }}">Next&nbsp;&rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}

